@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;800&display=swap');
@import "vars";
@import "extends";

* {
  padding: 0px;
  margin: 0px;
  outline: none;
  text-decoration: none;
}

 body {
   font-family: 'Poppins', sans-serif;
   color: $textColor;
 }

.main {
  @extend %container;
  @extend %flexDisplay;
  padding: 50px 0;

  .contact {
    width: 50%;
    > h3 {
      font-weight: 800;
      text-transform: uppercase;
      font-size: 36px;
      @extend %h3;

      &::before {
        top: 50px;
        height: 3px;
      }
    }

     >p {
      margin: 30px 0;
      font-size:16px;
      font-weight: 300;
    }

    .contacts {
      >div {
        display: flex;
        margin-bottom: 20px;

        h3 {
          color: black;
          margin-bottom: 10px;
        }

        .img {
          display: flex;
          align-items: center;
          margin-right: 30px;

          i {
            width: 55px;
            height: 55px;
            background-color: $img-holder;
            border: 0;
            border-radius: 50%;
            color: $mainColor;
            line-height: 55px;
            text-align:center;
          }
        }
      }
    }

  }

  .contact-form {
    width: 40%;
    background-color: $img-holder;
    padding: 40px 45px;

    input, textarea {
      width: 96%;
      padding: 10px 2%;
      font-size: 16px;
      font-family: Poppins, sans-serif;
      background-color: white;
      border: 0;
      color: $textColor;
      margin-bottom: 30px;
      margin-top: 5px;
    }

    textarea {
      resize: none;
      height: 150px;
    }

    span, label {
      font-size: 14px;
      color: black;
      font-weight: 800;
    }



    span {
      float:right;
      font-weight: 400;
      color: #e4363a;
      display: none;
    }

    button {
      background-color:#626dfc;
      padding: 15px 40px;
      border: 0;
      border-radius: 3px;
      font-size: 16px;
      color: whitesmoke;
      font-weight: 600;
      text-transform: uppercase;
      cursor:pointer;
      float:right;
      transition: all 600ms ease;

      &:hover {
        background: #000;

      }
    }
  }
}
